@font-face {
  font-family: 'Heebo-Light';
  src: url('Heebo-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Heebo-Regular';
  src: url('Heebo-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Heebo-Medium';
  src: url('Heebo-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url('Heebo-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Heebo-Black';
  src: url('Heebo-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}
