.step1__container {
  width: 100%;
  max-width: 404px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 24px;
  justify-self: center;
}

.step1__input {
  margin-top: 16px;
}

.step1__next_button {
  width: max-content;
  margin: 32px auto 0;
}

p.step1__fee {
  font-size: var(--font-size-labels);
  font-family: var(--font-family-default);
  color: var(--color-middle2);
  justify-self: center;
  margin: 16px 0 0 0;
}

.step1__fee span {
  color: var(--color-primary);
}

@media (max-width: 421px) {
  .step1__container {
    padding: 0 20px;
  }

  .step1__next_button {
    width: 100%;
  }
}