.main__container {
  border: 2px solid var(--color-middle);
  border-radius: 30px;
  width: 738px;
  padding: 50px 0;
  box-sizing: border-box;
}

.main__container .ant-tabs-nav::before,
.main__container .ant-tabs-top .ant-tabs-nav::before {
  border-bottom: 0;
}

.main__container .ant-tabs-tab-btn {
  color: var(--color-middle2);
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
}

.main__container .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-white-font);
  border-bottom: 1px solid var(--color-primary);
}

.main__container .ant-tabs-nav {
  margin-bottom: 0;
}

.main__container .ant-tabs-tab {
  padding: 0;
}

.main__container p {
  margin: 0;
  padding: 0;
}

@media (max-width: 738px) {
  .main__container {
    width: calc(100% - 40px);
    padding: 50px 20px;
  }
}

@media (max-width: 551px) {
  body .ant-modal .ant-modal-content {
    max-width: calc(100vw - 40px);
  }

  body .ant-modal-wrap {
    left: 20px;
    right: 20px;
  }

  body .ant-modal-close-x {
    margin: 8px 8px 0 0;
  }
}

@media (max-width: 421px) {
  .main__container {
    width: 100vw;
    border: 0;
  }
}