.main__container {
  border: 2px solid var(--color-middle);
  border-radius: 30px;
  width: 738px;
  padding: 50px 167px;
  box-sizing: border-box;
}

.main__container .ant-tabs-nav::before {
  border-bottom: 0;
}

.main__container .ant-tabs-tab-btn {
  color: var(--color-middle2);
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
}

.main__container .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-white-font);
  border-bottom: 1px solid var(--color-primary);
}
