.steps__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--color-middle);
  border-radius: 50%;
  color: var(--color-white-font);
  padding-top: 2px;
}

.steps__line {
  width: 70px;
  border: 1px solid var(--color-middle2);
  margin: 0 5px;
}

.steps__dot_active {
  background-color: var(--color-primary);
}

.steps__dot_completed {
  background-color: var(--color-secondary);
}