.wallet_button__container {
  height: 60px;
  width: 100%;
}

.wallet_button__button {
  display: grid;
  grid-template-columns: 24px max-content;
  column-gap: 16px;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 60px;
  padding-left: 20px;
}

.wallet_button__gray {
  justify-content: flex-start;
}

.wallet_button__text {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-default);
  color: var(--color-white-font);
  font-family: var(--font-family-default);
  font-weight: 400;
}

.wallet_button__button img {
  justify-self: flex-end;
}

.wallet_button__button.wallet_button__gray img {
  justify-self: flex-start;
}