.modal__button {
  width: 172px;
  margin-top: 43px;
}

.modal__title {
  font-weight: 900;
  font-size: 30px;
  color: var(--color-white-font);
  font-family: 'Satoshi';
  margin-bottom: 50px;
}

.modal__content__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__text {
  text-align: center;
  color: var(--color-white-font);
  max-width: 324px;
  font-size: 18px;
  font-family: 'Heebo-Regular';
}

.modal__text_bigger {
  font-size: 36px;
}