@import '~antd/dist/antd.less';
@import 'assets/styles/variables.css';

body {
    background-color: var(--main-bg-color);
}

// Select
// ---


// Typography
// ---

//Table
// ---

//Tabs
@tabs-title-font-size: 18px;
@tabs-ink-bar-color: var(--color-primary);
@tabs-active-color: var(--color-white-font);