.unwrapp__container {
  width: 100%;
  max-width: 404px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 24px;
  justify-self: center;
  margin: 0 auto;
}

.unwrapp__input {
  margin-top: 16px;
}

.unwrapp_button {
  width: max-content;
  margin: 32px auto 50px;
}

.unwrapp__buttons{
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
  justify-content: center;
}

.unwrapp__fee span {
  color: var(--color-primary);
}

.unwrapp__balance {
  color: var(--color-white-font);
  margin-top: 16px;
  text-align: center;
}

.unwrapp__balance span {
  color: var(--color-primary);
}

@media (max-width: 421px) {
  .unwrapp__container {
    padding: 0 20px;
  }

  .unwrapp_button {
    width: 100%;
  }
}


.unwrapp__title{
  font-size: 48px;
  font-weight: 900;
  font-family: 'Satoshi', sans-serif;
  color: white;
  text-align: center;
  line-height: 110%;
  margin-top: 84px;
  margin-bottom: 32px;
  padding: 0;
}
